h1 {
    color: blue;
    font-size: 5em;
    transition: all 3s;
}

h1:hover {
    color: white;
    background-color: blue;
    border: 3px solid white;
    transform: scale(1.2);
}

p {
    border: 1px solid black;
    padding: 1em;
}

h1,
p,
h2 {
    text-align: center;
}

img,
h2 {
    display: inline-block;
    width: 33%;
}

img {
    opacity: 0;
    height: 50vh;
}

img:hover {
    opacity: 1;
}

body {
    background-color: black;
}